{{define "layout"}}
<!doctype html>
<html lang="en">
  <head>
    <title>Conway's Game of Life</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div
      id="game-container"
      class="w-screen h-screen flex justify-center items-center"
    >
      {{template "gameBoard" .Grid}}
    </div>
    <div id="game-form">DAT FORM</div>
  </body>
</html>
{{end}}
